* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 2px solid red;
    width: 50 vw;
    height: 50 vh;
}

.grid {
    display: flex;
}

.grid-tile {
    background-color: black;
    width: 40px;
    height: 40px;
}

.hovered {
    background-color: blue;
}

.header {
    display: flex;
    border: 2px solid green;
}